<!DOCTYPE html>
<html>
<head>
  
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <script th:href="@{/js/jquery.js}" src="js/jquery.js"></script>
  <script th:href="@{/js/bootstrap.js}" src="js/bootstrap.js"></script>
  <script  type="text/javascript" th:src="@{/js/showTable.js}" src="showTable.js"></script>

  <title>ProductSave</title>
  
</head>
<body>

<h1>Objetos Guardados</h1>
<hr>




<table class="table table-striped table-dark" id="Products">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name Product</th>
      <th scope="col">Price</th>
      <th scope="col">Link</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    
    

    
  </tbody>
</table>


</body>
</html>